.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
    opacity: 0;
    visibility: hidden;
    transition: 800ms ease-in;

    &__sidebar {
        max-width: 320px;
        min-height: 680px;
        border-color: $bg-elem-color;

        position: absolute;
        top: 0;
        left: 0;


        transform: translateX(-400px);
        transition: 800ms ease-in;


        @media (min-width: $screen--m) {
            min-height: 100vh;
        }

        @media (min-width: $screen--l) {
            bottom: 0;
            opacity: 1;
            visibility: visible;
            transform: translateX(0px);
            z-index: 7;
        }
    }

    &__feedback {
        max-width: 320px;
        min-height: 680px;
        border-color: $bg-elem-color;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        transform: translateX(600px);
        transition: 800ms ease-in;

        @media (min-width: $screen--m) {
            max-width: 440px;
            min-height: 100vh;
        }
    }

    &__call {
        max-width: 320px;
        min-height: 680px;
        border-color: $bg-elem-color;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        transform: translateX(600px);
        transition: 800ms ease-in;

        @media (min-width: $screen--m) {
            max-width: 440px;
            min-height: 100vh;
        }
    }

    &__open {
        visibility: visible;
        opacity: 1;

        .modal__sidebar {
            transform: translateX(0px);
        }

        .modal__feedback {
            transform: translateX(0px);
        }

        .modal__call {
            transform: translateX(0px);
        }
    }
}

#open-sidebar {
    @media (min-width: $screen--l) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 1;
        visibility: visible;
    }
}