.sidebar {
    z-index: 10;
    min-width: 320px;
    background-color: $bg-elem-color;
    box-shadow:
        -2px 0px 4px rgba(69, 79, 126, 0.02),
        16px 0px 52px rgba(14, 24, 80, 0.2);

    @media (min-width: $screen--l) {
        box-shadow: none;
    }

    &__container {
        padding: 1.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        min-height: 680px;
        
        @media (min-width: $screen--m) {
            min-height: 100vh;
        }

        @media (min-width: $screen--l) {
            min-height: 1024px;
        }
    }

    &__header {
        margin-bottom: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__footer {
        margin-top: auto;
    }

}