.nav-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: $modal-color;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
    transition: 150ms;

    &:hover {
        background-color: rgba(255, 62, 121, 0.5);
    }
    &:focus {
        background-color: $text-header-color;
        outline: 3px solid $modal-color;
        border-radius: 50%;
    }
    &:active {
        box-shadow: inset 0 0 3px 0 $text-header-color;
    }

    &--bg-image--burger {
        background-image: url(../blocks/nav-button/img/burger.svg);
        order: -2;

        @media (min-width: $screen--m) {
            margin-right: 1em;
            position: relative;
            
            &::after {
                content: "";
                width: 2px;
                height: 32px;
                background: $border-button-color;
                border-radius: 1px;
                position: absolute;
                top: 5px;
                left: 150%;
            }
        }
    }

    &--bg-image--request {
        background-image: url(../blocks/nav-button/img/repair.svg);
        position: relative;

        &::before {
            content: "";
            width: 2px;
            height: 32px;
            background: $border-button-color;
            border-radius: 1px;
            position: absolute;
            top: 5px;
            right: 15vw;

            @media (min-width: $screen--m) {
                right: 140%;
            }
        }
    }

    &--bg-image--status {
        background-image: url(../blocks/nav-button/img/checkstatus.svg);
    }

    &--bg-image--call {
        background-image: url(../blocks/nav-button/img/call.svg);
    }

    &--bg-image--chat {
        background-image: url(../blocks/nav-button/img/chat.svg);
    }

    &--bg-image--profile {
        background-image: url(../blocks/nav-button/img/profile.svg);

        @media (min-width: $screen--m) {
            margin-right: 1em;
        }
    }

    &--bg-image--close {
        background-image: url(../blocks/nav-button/img/close.svg);
    }

    &--bg-image--search {
        background-image: url(../blocks/nav-button/img/search.svg);
        margin-left: auto;
    }


}