$modal-color: hsl(342, 100%, 62%);
$text-header-color: #7E7E82;
$input-color: #B5B6BC;
$block-border-color: #D9FFF5;
$bg-color: #F8F8F8;
$text-color: #1B1C21;
$bg-elem-color: #FFFFFF;
$border-button-color: #EAEAEA;
$active-link-color: #B8FFEC;
$highlight-color: #41F6D7;

$font-size: 16px;
$font-size--small: 14px;
$font-size--h1: 28px;
$font-size--modal: 24px;
$font-size--pink-button: 12px;

$letter-spasing: 0.2px;
$letter-spasing--h2: -0.2px;
$letter-spasing--h1: -0.6px;

$line-height: 1.43em;
$line-height--h: 1.5em;
$line-height--small: 1.14em;
$line-height--price: 1.29em;
$line-height-modal: 1.33em;
$line-height--pink-button: 2em;

$font-family: 'TT Lakes Regular';
$font-family--m: 'TT Lakes Medium';
$font-family--b: 'TT Lakes Bold';

$screen--m: 768px;
$screen--l: 1120px;
$screen--xl: 1440px;






