.prices {
    min-width: 320px;
    padding-left: 1rem;
    padding-bottom: 2rem;

    @media (min-width: $screen--m) {
        padding-left: 1.5em;
    }

    @media (min-width: $screen--l) {
        padding-left: 2em;
    }

    &__title {
        @include section-title;
    }

    &__swiper {
        min-height: 250px;
        position: relative;

        @media (min-width: $screen--m) {
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0px;
            right: -1px;
            width: 24px;
            height: 210px;
            background: linear-gradient(270deg, $bg-color 16.84%, transparent 100%);
            z-index: 2;
        }
    }

    &__wrapper {
        padding: 5px 0;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        flex-shrink: 0;
        min-width: 200px;
        max-height: 200px;
        border: 1px solid $border-button-color;
        border-radius: 6px;
        background-color: $bg-elem-color;
        cursor: pointer;
        position: relative;
        transition: 500ms;

        &:active {
            border: 3px solid $active-link-color;
        }

        &:hover {
            box-shadow: 0 0 6px 5px $block-border-color;
        }

        &:focus {
            outline: none;
            border: 2px solid $modal-color;
            border-radius: 6px;
        }

    }

    &__table {
        display: none;

        @media (min-width: $screen--m) {
            display: block;
        }
    }

    &__text {
        @include text;
        display: inline-block;
        margin-bottom: 1rem;
        
        @media (min-width: $screen--m) {
            max-width: 421px;
        }
    }

    &__offer {
        display: block;
        @include button-text;
        width: 200px;
        background-color: $bg-color;
        background-image: url(../blocks/prices/img/more.svg);
        background-position: right 70px bottom -2px;
        background-repeat: no-repeat;
        border: none;
        text-align: left;

        transition: 500ms;


        @media (min-width: $screen--m) {
            width: 320px;
            background-position: right center;
        }

        &:active {
            border: 3px solid $active-link-color;
            border-radius: 6px;
            background-color: $bg-elem-color;
        }

        &:hover {
            box-shadow: 0 0 6px 5px $modal-color;
            border-radius: 6px;
            background-color: $bg-elem-color;
        }

        &:focus {
            outline: none;
            border: 2px solid $modal-color;
            border-radius: 6px;
            background-color: $bg-elem-color;
        }
    }
}