.menu-header {
    &__button {
        &:first-of-type {
            margin-right: 1rem;
            
            @media (min-width: $screen--l) {
                display: none;
            }
        }
    }

    &__logo {
        width: 97px;
        height: 52px;
        background-image: url(../assets/img/logo.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
}