@mixin pink-button {
    background: 
        url(../assets/img/goside.svg) right 5px center no-repeat,
        $modal-color;
    border-radius: 16px;
    height: 32px;
    border: none;
    padding-left: 12px;
    cursor: pointer;

    font-family: $font-family;
    font-size: $font-size--pink-button;
    line-height: $line-height--pink-button;
    text-align: left;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: $bg-elem-color;

    &:hover {
        background-color: rgba(255, 62, 121, 0.5);
    }
    &:focus {
        background-color: $text-header-color;
        outline: 3px solid $modal-color;
        border-radius: 16px;
    }
    &:active {
        box-shadow: inset 0 0 3px 0 $text-header-color;
    }
}