.price-card {
    padding: 1rem;

    &__title {
        @include card-title;
    }

    &__text {
        display: block;
        @include card-text;
        margin-bottom: 1rem;
        text-align: left;
        max-width: 200px;
    }

    &__button {
        @include pink-button;
        width: 119px;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}