body {
    margin: 0;

    @media (min-width: $screen--l) {
        padding-left: 320px;
    }

    &.lock {
        overflow: hidden;
    }
}

p, h1, h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

menu, ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}